.player-wrapper {
  position: relative;
  padding-top: 75%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  /* Adjust aspect ratio and positioning for smaller screens */
  .player-wrapper {
    padding-top: 56.25%; /* Change to your desired aspect ratio for mobile */
  }
}
